[color]
    ui = auto
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
[core]
    editor = vim
    autocrlf = false
    safecrlf = true
[push]
    default = current
[rerere]
    enabled = 1
    autoupdate = 1
[user]
    useConfigOnly = 1
    name = stdrickforce
    email = stdrickforce@gmail.com
[filter "lfs"]
    required = true
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    clean = git-lfs clean -- %f
[includeIf "gitdir/i:**/meituan/**"]
    path = ~/meituan/.gitconfig
# [http]
#     proxy = http://127.0.0.1:1087
[url "ssh://git@git.dianpingoa.com/"]
	insteadOf = https://dianpingoa.com/
